@model ProjectManagr.ViewModels.ProjectSiteDeleteVM

@{
    Layout = null;
    var count = ViewBag.Count;
    var message = count > 1 ? "records" : "record";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Delete Project Site</h4>
           
        </div>

        <div class="modal-body">
            <h4>Are you sure you want to delete @count @message?</h4>
        </div>

        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger" id ="btnConfirmDelete"value="Delete" />
                </div>
            </div>
        </div>
    </div>
</div>
