@{
    ViewBag.Title = "Home Page";
}



<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-5">
                <h5 style="float:right"> Site Name :</h5>
            </div>
            <div class="col-md-7">
                <button class="btn btn-default dropdown-toggle" type="button" id="siteNameDrpDwn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Select a Site
                    <span class="caret"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-5">
                <h5 style="float:right">Start Date :</h5>
            </div>
            <div class="col-md-7">
                <input type="datetime" class="form-control text-box" data-provide="datepicker" id="filterFromDate" placeholder="Enter from date" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-5">
                <h5 style="float:right"> End Date :</h5>
            </div>
            <div class="col-md-7">
                <input type="datetime" class="form-control text-box" data-provide="datepicker" id="filterToDate" placeholder="Enter to date" />
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-default btn-md" id="dashBoardSearchBtn" data-url=@Url.Action("ReloadChart","Home")>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
        </div>
    </div>


<br />
<div id="dashboard"></div>

<script src="~/Scripts/Application/Dashboard.js"></script>
<link href="~/Content/Common.css" rel="stylesheet" />