.gridDiv {
    margin-top : 3vh;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../Content/Font/Raleway/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../Content/Font/Raleway/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-Light';
    src: url('../Content/Font/Raleway/Raleway-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('../Content/Font/Raleway/Raleway-ExtraBold.ttf') format('truetype');
}
body{
    font-family : 'Raleway-SemiBold';
}

/*override  bootstrap header*/ 
h4{
    font-family : 'Raleway-SemiBold' !important;
}