body {
    padding-top: 70px;
}

.chartTooltip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
}

.vis-labelset .vis-label .vis-inner {
    display: block !important;
    font-size: 1vw;
}

.vis-background {
    display: none;
}

.asterisk {
    color: red !important;
    float: right !important;
    font-size: 2vw !important;
}
