@{
    ViewBag.Title = "Screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gridDiv">

    <table id="screenTable" class="display" width="100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    TechLead
                </th>
                <th>
                    EstCompletion
                </th>
                <th>
                    EstRelease
                </th>
                @*
                <th>
                    EstRevisedRelease
                </th>
                <th>
                    ActualRelease
                </th>*@
                <th>
                    EstHours
                </th>
                <th>
                    ActualHours
                </th>
                <th>
                    Comments
                </th>
                @*
                <th>
                    RevisionReason
                </th>
                <th>
                    ResourceCount
                </th>
                <th>
                    SprintsRef
                </th>
                <th>
                    TotalManDays
                </th>
                <th>
                    ManDaysPerResource
                </th>*@
                <th></th>
            </tr>
        </thead>
    </table>
</div>
<script src="~/Scripts/Application/Screen.js"></script>
<link href="~/Content/Common.css" rel="stylesheet" />